@{
    ViewData["Title"] = "Om";
}

<h1>Om os</h1>
<p>
    Der er ikke meget at sige om os, så her får du altså lige et billede af en kat i stedet.
</p>

<img src="http://placekitten.com/450/450" style="width:100%; max-width:500px;">