@{
    ViewData["Title"] = "Forside";
}

<div class="cover">
    <div class="coverImage"></div>
    <div class="coverContent">
        <h2>Velkommen til</h2>
        <h1>Ikke Bovia</h1>
    </div>
</div>

<div class="col full cl no-margin leaseContainer">
    <h1 class="txt center bold">Nyeste ledige lejemål</h1>
    <div class="cl noPad leaseContent">
        <div class="cl leaseItemContainer">
            <h1 class="txt center">Her kommer der de seneste bolig brugeren har kigget på</h1>
            @* @{
                for(int i = 1; i <= 4; i++) {
                    <div class="col col-3 col-t-3 mcol-6 leaseItem" title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quam fuga architecto repudiandae sunt tenetur enim atque consequatur accusamus doloribus, iste, id nostrum fugiat? Architecto consequuntur maiores quia non cumque!">
                        <div class="image" style="background-image:url(https://via.placeholder.com/250x200);"></div>
                        <div class="content">
                            <h3>Bolig @i</h3>
                            <small>6000 Kolding</small>
                            <div class="desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quam fuga architecto repudiandae sunt tenetur enim atque consequatur accusamus doloribus, iste, id nostrum fugiat? Architecto consequuntur maiores quia non cumque!
                            </div>
                            <h4>4900,-/md</h4>
                            <a asp-controller="Search" asp-action="Item" asp-route-id="@i" class="btn btnPrimary btnSmall full">Se mere</a>
                        </div>
                    </div>
                }
            } *@
        </div>
    </div>

    <div class="col full no-margin txt right">
        <a asp-controller="Search" asp-action="Index" class="btn btnDefault">Se alle lejemål</a>
    </div>
</div>