.btn, input[type="submit"], button
    display: inline-block

    margin: 0 0 10px 0
    padding: 10px 20px

    border: 0 !important
    border-bottom: 3px solid rgba(0,0,0,.1) !important

    text-align: center
    text-shadow: 1px 1px 0 rgba(0,0,0,.4)

    transition: background-color transSpeed*.5 ease

    &.btnSmall
        margin: 0 0 5px 0
        padding: 5px 12px

        font-size: 12px

    &.full
        display: block

    &:hover
        cursor: pointer

    &:after
        display: none;

    &.btnPrimary
        background-color: colMainBlue

        color: #fff

        &:hover
            background-color: darken(colMainBlue, 7)
    
    &.btnSuccess
        background-color: colMainGreen

        color: #000

        text-shadow: 0 0 0 rgba(0,0,0,0) !important

        &:hover
            background-color: darken(colMainGreen, 7)
            
    &.btnWarning
        background-color: colMainYellow

        color: #333

        text-shadow: 0 0 0 rgba(0,0,0,0) !important

        &:hover
            background-color: darken(colMainYellow, 7)

    &.btnError
        background-color: colMainRed

        color: #fff

        &:hover
            background-color: darken(colMainRed, 7)

    &.btnDefault
        background-color: #333

        color: #fff

        &:hover
            background-color: #36393F

.closeBtn
    float: right;
    display: inline-block

    width: 20px
    height: 20px

    line-height: 20px

    background-color: rgba(0,0,0,.1)

    text-align: center

    cursor: pointer

    &:hover
        background-color: rgba(0,0,0,.15)