.newsContainer
    .newsItem
        margin: 0 0 20px 0

        border: 1px solid rgba(0,0,0,.1)
        border-bottom: 3px solid rgba(0,0,0,.1)

        box-shadow: shaDefault

        .newsTitle
            padding: padMain padMain 0 padMain

            box-sizing: border-box

        .newsContent
            padding: 0 padMain padMain padMain

            box-sizing: border-box
        
        .newsButton
            padding: 0 padMain padMain*.5 padMain

            text-align: right

            box-sizing: border-box

        .newsInfo
            background-color: alpha(colMainBlue, .1)

            padding: padMain * .5

            font-size: .7em

            box-sizing: border-box

            .newsAuthor
                float: left

                text-align: left

            .newsPosted
                float: right

                text-align: right