h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  color: #777;
  font-family: mainFont;
  font-weight: 400;
}
input,
textarea,
button {
  font-family: mainFont;
  font-size: 1em;
  font-weight: 300;
  box-sizing: border-box;
}
hr {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
hr.thick {
  border-bottom: 3px solid rgba(0,0,0,0.1);
}
sup {
  position: absolute;
}
