@model MVC.Models.RegisterViewModel

<div class="col full no-margin">
    <div class="col col-8 col-t-6">
        <a href="https://www.youtube.com/watch?v=BjDebmqFRuc&ab_channel=MrMeme" target="_blank" class="no-line">
            <div class="sideCover">
                <div class="image" style="background-image:url(../images/apartments/family-2.jpg);"></div>
            </div>
        </a>
    </div>

    <div class="col col-4 col-t-6 formCard">
        <h1>Oprettelse af brugerkonti</h1>

        <form asp-controller="MyPage" asp-action="RegisterUser" method="post" class="beautify">
            <ul>
                <li>
                    <h2>Log ind oplysninger</h2>
                </li>

                <li class="full">
                    <label for="Email" class="required">Email</label>
                    <input type="email" name="Email" id="Email" placeholder="Email">
                </li>

                <li class="full">
                    <label for="Password" class="required">Adgangskode</label>
                    <input type="password" name="Password" id="Password" placeholder="Adgangskode ...">
                </li>

                <li class="full">
                    <label for="confirmPassword" class="required">Gentag adgangskode</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Gentag adgangskode ...">
                </li>

                <li>
                    <h2>Dine oplysninger</h2>
                </li>

                <li class="full">
                    <label for="fname" class="required">Fornavn</label>
                    <input type="text" name="fname" id="fname" placeholder="Fornavn ...">
                </li>

                <li class="full">
                    <label for="lname" class="required">Efternavn</label>
                    <input type="text" name="lname" id="lname" placeholder="Efternavn ...">
                </li>

                <li class="full">
                    <label for="phone" class="required">Telefonnummer</label>
                    <input type="phone" name="phone" id="phone" placeholder="Tlf. f.eks. 12 34 56 78">
                </li>

                <li class="full">
                    <label for="birthday" class="required">Fødselsdag</label>
                    <input type="date" name="birthday" id="birthday" value="@DateTime.Now">
                </li>

                <li class="full">
                    <label for="address" class="required">Adresse</label>
                    <input type="text" name="address" id="address" placeholder="Hans Hansens Bondegård 12">
                </li>

                <li class="full">
                    <label for="zip" class="required">Postnummer</label>
                    <input type="number" name="zip" id="zip" placeholder="F.eks. 6000">
                </li>

                <li class="full">
                    <label for="country" class="required">Land</label>
                    <select name="country" id="country">
                        <option value="0">Danmark</option>
                        <option value="1">Nope.</option>
                    </select>
                </li>

                @* <li class="full">
                        <label for="gender" class="required">Køn</label>
                        <select name="gender" id="gender">
                            <option value="0">Mand</option>
                            <option value="1">Kvinde</option>
                            <option value="2">Andet</option>
                        </select>
                    </li> *@

                <li class="full">
                    <input type="submit" value="Opret mig!" class="btnPrimary">
                </li>
            </ul>
        </form>

        <small>Har du allerede en bruger? <a asp-controller="MyPage" asp-action="Index">Klik her</a> for at logge ind</small>
    </div>
</div>