@using Microsoft.AspNetCore.Http
@using Infrastructure.Interface
@inject IUserAuth ua

<h1>Velkommen!</h1>

<ul>
    <li>
        <a asp-action="Profile" asp-controller="MyPage">Min profil</a>
    </li>

    <li>
        <a asp-action="Information" asp-controller="Account">Mine oplysninger</a>
    </li>

    @if (ua.isUser())
    {
        @* <li>
            <a asp-action="" asp-controller="MyPage">Mine tilbud</a>
        </li> *@

        <li>
            <a asp-action="MyWishes" asp-controller="Account">Mine ønsker</a>
        </li>

        @* <li>
            <a asp-action="MyDemands" asp-controller="Account">Mine lejemåls kriterier</a>
        </li> *@
    }

    <hr>

    @* <li>
        <a asp-action="ChangePassword" asp-controller="Account"><s>Skift adgangskode</s> (Ned prioritering)</a>
    </li> *@

    <li>
        <a asp-action="SignOut" asp-controller="MyPage">Log Ud</a>
    </li>
</ul>

@* Landlord area *@

@if (ua.isLandlord())
{
    <h2>Udlejer administration</h2>

    <ul>
        <li>
            <a asp-action="Add" asp-controller="Landlord">Opret lejemål</a>
        </li>

        <li>
            <a asp-action="EditApartments" asp-controller="Landlord">Administrer lejemål</a>
        </li>

        @* <li>
            <a asp-action="Answer" asp-controller="Landlord">Svar ansøgninger</a>
        </li> *@

        @* <li>
            <a asp-action="" asp-controller=""><s>Administrer udlejer oplysninger</s></a>
        </li> *@
    </ul>
}

@* Admin area *@

@if (ua.isAdmin())
{
    <h2>Administrator</h2>

    <ul>
        <li>
            <a asp-action="EditUsers" asp-controller="Admin">Administer brugere</a>
        </li>
    </ul>
}